/*
 * @author: luckyadam
 * @time: 2016-1-4
*/
html, body {
  height: 100%;
}

.lr {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(../images/lr_bg.jpg) center center no-repeat;
  background-size: cover;
  position: relative;
}

.lr_slogan {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: border-box;
  padding-top: 4.375rem;
}

.lr_slogan_logo {
  display: inline-block;
  width: 3.75rem;
  height: 4.4375rem;
  margin-bottom: 1rem;
}

.lr_slogan_txt {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 400;
}

.lr_btns {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.4375rem 0;
  background-color: #f79f42;
}

.lr_btn {
  width: 100%;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #fff;
  font-size: 0.9375rem;
  text-align: center;
  line-height: 1.625rem;
}

.lr_btn:first-child {
  border-right: 1px solid #cd7a23;
}
