/*
 * @author: luckyadam
 * @time: 2016-1-7
*/
.upload_form_p {
  width: 100%;
  padding: 0 0.75rem;
  box-sizing: border-box;
  margin-top: 0.9375rem;
  text-align: center;
  position: relative;
}

.upload_form_avatar {
  padding-top: 2.875rem;
  padding-bottom: 1.4375rem;
}

.upload_form_avatar_img {
  width: 6.25rem;
  height: 6.25rem;
  display: inline-block;
}

.upload_form_tip {
  font-size: 0.875rem;
  color: #fff;
  padding-bottom: 0.9375rem;
}

.upload_form_choose, .upload_form_shoot {
  color: #fff;
  border: 0.0625rem solid #999999;
  background-color: rgba(0, 0, 0, 0.5);
}

.upload_form_file {
  position: absolute;
  width: 100%;
  height: 2.5rem;
  top: 0;
  left: 0;
  opacity: 0;
}

.upload_form_btns {
  margin-top: 5.5rem;
  padding-bottom: 1.25rem;
}

.register_all, .register_professional {
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.register_bg {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -10;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.register_all .register_bg {
  background-image: url(../images/all_bg.jpg);
}

.register_professional .register_bg {
  background-image: url(../images/professional_bg.jpg);
}

.register_form_btn {
  display: block;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  height: 2.5rem;
  box-sizing: border-box;
  font-size: 0.9375rem;
  line-height: 2.375rem;
  outline: 0;
}

.register_form_prev {
  margin-right: 0.5rem;
  color: #999999;
  background-color: rgba(0, 0, 0, 0.5);
  border: 0.0625rem solid #999999;
}

.register_form_next {
  color: #fff;
  background-color: #f79f42;
  border: 0.0625rem solid #f79f42;
}

.register_form_text {
  display: block;
  width: 100%;
  height: 2.8125rem;
  border: none;
  outline: 0;
  background-color: rgba(0, 0, 0, 0.3);
  font-size: 0.875rem;
  color: #999;
  box-sizing: border-box;
  padding: 0.875rem;
  border-radius: 0;
  line-height: 1.0625rem;
}

.register_form_text.error {
  border-right: 0.125rem solid #fc2a2a;
}

.nav_line {
  width: 100%;
  height: 0.125rem;
  background-color: #999999;
  z-index: 100;
}

.nav_line_split {
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav_line_split.active {
  background-color: #f79f42;
}
