<!DOCTYPE HTML>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <title>选择导游类型</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="format-detection" content="telephone=no" />

  <!-- global:css -->
  <%= getCSS('gb.css', 'gb') %>
  <!-- endglobal -->

  <%= getCSS() %>
  <script>
    (function(l,s,c){var p=document;var r=p.documentElement;var j=window;var h="addEventListener";var o="getBoundingClientRect";var m="pageshow";var e=p.head||p.getElementsByTagName("HEAD")[0];var n=p.createElement("STYLE");var q;var a="text-size-adjust:100%;";var f="-webkit-"+a+"-moz-"+a+"-ms-"+a+"-o-"+a+a;var k=o in r;var g=null;function b(){var d=Math.min((k?r[o]().width:j.innerWidth)/(l/s),c);if(d!=g){n.innerHTML="html{"+"font-size:"+d+"px!important;"+f+"}";g=d}}function i(){clearTimeout(q);q=setTimeout(b,300)}l=l||320;s=s||16;c=c||32;e.appendChild(n);p[h]("DOMContentLoaded",b,false);if("on"+m in j){j[h](m,function(d){if(d.persisted){i()}},false)}else{j[h]("load",i,false)}j[h]("resize",i,false);b()})(640,32,32);
  </script>
</head>
<!-- 注：加ontouchstart使css：active生效 -->
<body ontouchstart>

  <div class="mod_container gt display_flex vertical">
    <%= widget.load('header', { title: '选择导游类型' }, 'gb') %>
    <%= widget.load('nav_line', { position: 0, splits: 4 }) %>
    <%= widget.load('guide_type') %>
  </div>

  <!-- global:js -->
  <!-- endglobal -->

  <%= getJS() %>
</body>
</html>
